
body{
  background-color: aquamarine;
}

#root {
  max-width: 1280px;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.textarea{
  border: 4px solid black;
  border-radius: 8px;
}
.para{
  font-size: larger;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 30px;
}

.buttons button {
  padding: 10px 20px;
  cursor: pointer; 
}
#lower{
  background-color: crimson;
  color: white;
}
#upper{
  background-color: chocolate;
  color: white;
}
#remove{
  background-color: violet;
  color: white;
}
#reverse{
  background-color: blue;
  color: white;
}
#clear{
  background-color: red;
  color: white;
}
